h1{
  border: 5px solid black;
  padding: 50px;
  margin: 10px;
}

p{
  border: 5px solid blue;
  padding: 10px 50px;
  margin: 15px 50px;
}
div{
  height: 300px;
  width: 1000px;
  background-color: aquamarine;
  border: 4px dotted red;
  padding:5px 15px 20px 10px;
  margin: 50px 100px 15px 30px;
}

ul{
  background-color: aqua;
  border:5px solid yellow;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;


}