#div1{
  width:fit-content;
  height:fit-content;
  background-color: aquamarine;
  border: 1px solid red;
  padding: 10px;
  visibility: hidden;
}

#div2{
  width:fit-content;
  height:fit-content;
  background-color: aquamarine;
  border: 1px solid red;
  padding: 10px;
  display: none;
}

#div3{
  height:500px;
  width:800px;
  background-color: gray;
  border: 2px solid red;
  opacity: 1;
}

#para{
  color: rgb(151, 96, 202);
  font-weight: bolder;
  opacity: .6;
}